// BACKGROUND COMPONENT
.Background {
  margin-bottom: 150px;
  padding: 90px 60px;
  height: auto;

  .outterContainer {
    display: flex;
    justify-content: space-between;
    margin: 0 50px;

    span {
      color: #05a19c;
      font-weight: 900;
    }

    .Bg-Header {
      color: #05a19c;
      font-weight: 900;
      font-size: 21px;
      margin: 25px;
      letter-spacing: 3px;
    }

    .Bg-Container {
      color: #aaaaaa;
      max-width: 950px;
      line-height: 1.5;
      font-size: 20px;
      margin: 25px;

      a {
        text-decoration: none;
        color: #05a19c;
        font-weight: 900;
        font-size: 20px;

        &:hover {
          border-bottom: 2px solid #05a19c;
        }
      }
    }
  }
}

@media only screen and (max-width: 1400px) {
  .Background {
    padding: 90px 40px;
  }
}

@media only screen and (max-width: 1400px) {
  .Background {
    padding: 80px 20px;
  }
}

@media only screen and (max-width: 900px) {
  .Background {
    padding: 80px 5px;
  }
}

@media only screen and (max-width: 767px) {
  .Background {
    padding: 0 35px;
    .outterContainer {
      display: flex;
      flex-direction: column;
      margin: 0;

      .Bg-Header {
        margin: 25px 0;
      }

      .Bg-Container {
        margin: 25px 0;
        font-size: 18px;

        a {
          font-size: 18px;
        }
      }
    }
  }
}

@media only screen and (max-width: 550px) {
  .Background {
    .outterContainer {
      .Bg-Container {
        font-size: 17px;

        a {
          font-size: 17px;
        }
      }
    }
  }
}

@media only screen and (max-width: 450px) {
  .Background {
    padding: 0 25px;
  }
}

@media only screen and (max-width: 375px) {
  .Background {
    padding: 0 15px;
  }
}

@media only screen and (max-width: 350px) {
  .Background {
    padding: 0 15px;
    margin-top: 35px;
    margin-bottom: 100px;

    .Bg-Container {
      font-size: 16px !important;

      a {
        font-size: 16px !important;
      }
    }
  }
}
